<h1><%=link_to @portfolio.title, URI::HTTP.build({:host => @portfolio.website}).to_s, target: "_blank" %></h1>

<div>
  <%= image_tag @portfolio.main_image %>
  <div><%= @portfolio.body %></div>
  <div>
    <%= link_to "edit #{@portfolio.title}", edit_portfolio_path(@portfolio), class:"utility-btn"  %>
  </div>
  <div>
    <%= link_to "delete #{@portfolio.title}", portfolio_path(@portfolio), class:"utility-btn", data: {
                                                                                              method: :delete,
                                                                                              confirm: "Are you sure?"
    }  %>
  </div>
 
</div>